<!doctype html>
<html manifest="manifest.appcache">
  <head>
    <link href="{{ url_for('static', filename='calc.css') }}" rel='stylesheet' type="text/css"/>
    <img src="{{ url_for('static', filename='calc.png') }}" alt="calculator logo">
  </head>
  <body>

        <div id="calculator">
          <!-- Screen and clear key -->
          <div class="top">
            <span class="clear">C</span>
            <div class="screen"></div>
          </div>
          
          <div class="keys">
            <!-- operators and other keys -->
            <span>7</span>
            <span>8</span>
            <span>9</span>
            <span class="operator">+</span>
            <span>4</span>
            <span>5</span>
            <span>6</span>
            <span class="operator">-</span>
            <span>1</span>
            <span>2</span>
            <span>3</span>
            <span class="operator">÷</span>
            <span>0</span>
            <span>.</span>
            <span class="eval">=</span>
            <span class="operator">x</span>
          </div>
        </div>
  </body>
</html>

<script src="{{ url_for('static', filename='calc.js') }}"></script>
<!-- PrefixFree -->
<!--<script src="calc.js" type="text/javascript" type="text/javascript"></script> -->